<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="logback/defaults-sync-logger.xml"/>

    <logger name="top.fsfsfs.boot.modules" additivity="true" level="${log.level.modules}">
        <appender-ref ref="MODULES_APPENDER"/>
    </logger>

    <logger name="top.fsfsfs.boot.common" additivity="true" level="${log.level.common}">
        <appender-ref ref="MODULES_APPENDER"/>
    </logger>

    <logger name="top.fsfsfs.boot.config" additivity="true" level="${log.level.common}">
        <appender-ref ref="COMMON_APPENDER"/>
    </logger>
</configuration>
