<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="logback/defaults-async-logger.xml"/>

    <!-- 基础服务 -->
    <logger name="top.fsfsfs.boot.modules" additivity="true" level="${log.level.modules}">
        <appender-ref ref="ASYNC_MODULES_APPENDER"/>
    </logger>
    <logger name="top.fsfsfs.boot.common" additivity="true" level="${log.level.common}">
        <appender-ref ref="ASYNC_MODULES_APPENDER"/>
    </logger>
    <logger name="top.fsfsfs.boot.config" additivity="true" level="${log.level.common}">
        <appender-ref ref="ASYNC_COMMON_APPENDER"/>
    </logger>

    <logger name="top.fsfsfs.boot.modules.system.mapper" additivity="false" level="${log.level.mapper}">
        <appender-ref ref="ASYNC_SQL_APPENDER"/>
    </logger>

</configuration>
